:root {
    /* --desktop-- */
    --desktop-darkblue: rgba(9, 9, 132, 0.842);
    --desktop-lightblue: cadetblue;
    /* --tablet-- */
    --tablet-darkpurple: purple;
    --tablet-lightpurple: rgb(179, 53, 179);
    /* --mobile-- */
    --mobile-darkred: red;
    --mobile-lightred: rgb(126, 41, 58);
}
* {text-align: center;}
body{background-color: var(--desktop-lightblue);}
h1 {font-size: x-large;}
h2 {font-size: large;}
/* ---NAV--- */
nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1%;
    background-color: var(--desktop-darkblue);
    color: white;
}

nav ul li{
    display: inline;
    width: 10%;
    margin: 0 10px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    text-decoration: none;
    color: black;
}
/* ---ABOUT--- */
#about{
    display: flex;
    justify-content: center;
    margin: 5%; 
    
}

#about img {width: 15%;}

#about article {
    text-align: center;
    padding-left: 1%;
    padding-top: 5%;
}

#about article h1   {text-align: left;}
/* ---WORK--- */
#work{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#work section{
    width: 80%;
    margin: 0 auto;
    /* flex: 1 0 0; */
    padding: 10px;
    justify-content: center;
}

#firstimg{
    width: 60%;
    border: 2px solid gray;
    margin-bottom: 2%;
}

#firstimg:hover {opacity: 0.5;}

.grid-container{
    width: 45%;
    display: inline-block;
    margin-top: 10%;
}

img.gridimg:hover {opacity: 0.5;}

.gridimg{width: 60%;}

/* ---FOOTER--- */
footer{
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1%;
    background-color: var(--desktop-darkblue);
    color: white;
}

footer ul li{
    display: inline;
    width: 10%;
    margin: 0 15px;
}

footer ul li a{
    text-decoration: none;
    color: white;
}

/* ---MEDIA QUERY--- */
    /* --MOBILE-- */
@media screen and (max-width: 711px) {
    nav{background-color: var(--mobile-darkred);}
    body{background-color: var(--mobile-lightred);}
    footer{background-color: var(--mobile-darkred);}
    #about{display: block;}
    #about article h1, #about article{text-align: center;}
    #about img{width: 35%;}
    .grid-container{
        width: 100%;
        display: block;
        justify-content: center;
        margin-top: 10%;
    }
    img{border-radius: 50%;}
}

    /* ---TABLET--- */
@media screen and (min-width:712px) and (max-width: 820px){
    nav{background-color: var(--tablet-darkpurple);}
    body{background-color: var(--tablet-lightpurple);}
    footer{background-color: var(--tablet-darkpurple);}
    .grid-container{
        width: 45%;
        display: inline-block;
        justify-content: center;
        margin-top: 10%;
    }
    img{border-radius: 25%;}
}
    /* ---DESKTOP--- */
@media screen and (min-width: 821px){}