:root {
    --theme-blue: rgb(23, 23, 146);
}

* {
    text-align: center;
}

nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1%;
    justify-content: space-between;
    background-color: var(--theme-blue);
    color: white;
}

nav ul li{
    display: inline;
    width: 10%;
    margin: 0 10px;
}

#about{
    width: 80%;
    display: flex;
    justify-content: left;
    margin: 5%;
}

#about article{
    text-align: center;
}

#work{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#work section{
    width: 80%;
    margin: 0 auto;
    flex: 1 0 0;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    
}

#firstimg{
    width: 60%;
}

.gridimg{
    width: 45%;
    display: inline-block;
    margin: 2.3%;
}

footer{
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1%;
    background-color: var(--theme-blue);
    color: white;
}

footer ul li{
    display: inline;
    width: 10%;
}